<section id="message">
<!--  <img src="/src/img/IMG-1226.jpg" max-width="1450px"> -->
<div class="empty"></div>
<p>My journey so far</p>
<h2>"You can't cross the sea merely by standing and staring at the water."</h2>
<h4>- Rabindanath Tagore -</h4>
<a href="#" class="my-button">lol</a>
<div class="empty2"></div>
<div class="grid">
    <section class="col-1-4"><a href="#"><div><img src="/src/img/underground.jpg"></div></a><p>Delving into the wonderful world of `Javascript`
Started out my first week learning the 4 primitive types in Javascript.</p></section>
    <section class="col-1-4"><a href="#"><div><img src="/src/img/underground.jpg"></div></a></section>
    <section class="col-1-4"><a href="#"><div><img src="/src/img/underground.jpg"></div></a></section>
    <section class="col-1-4"><a href="#"><div><img src="/src/img/underground.jpg"></div></a></section>
    <section class="col-1-4"><a href="#"><div><img src="/src/img/underground.jpg"></div></a></section>
    <section class="col-1-4"><a href="#"><div><img src="/src/img/underground.jpg"></div></a></section>
    <section class="col-1-4"><a href="#"><div><img src="/src/img/underground.jpg"></div></a></section>
    <section class="col-1-4"><a href="#"><div><img src="/src/img/underground.jpg"></div></a></section>
</div>

</section>
