body {
   background: url("/src/img/IMG-1226.jpg");
   color: #fff;
   background-repeat: no-repeat;

 }
header {
  background: #333;
  color: #fff;
  // display: block;
  width: 100%;
  height: 10ex;
  margin: 0 auto;
  .wrap {
    margin: 0 auto;
    max-width: 1140px;
    h1 {
      padding: .2em;
      display: inline-block;
      margin: 0 auto;
      margin-top: .6em;
      // float: left;
      font-family: 'Spinnaker', sans-serif;
      font-size: 28px;
      line-height: 1;
      text-transform: uppercase;
    }
    nav {
      float: right;
      margin-top: 1.1em;
      padding: .5em;
    }
    nav a {
      float: right;
      color: #fff;
      text-decoration: none;
      margin: 8px;
      display: inline-block;

    }
  }
}
.main-container {
  min-width: 100%;
  margin: 0 auto;
}
#message {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background:#7f7f7f;
  background:rgba(0,0,0,0.5);
  overflow: auto;
  .empty {
    height: 200px;
    width: 100%;
    visibility: hidden;
    display: block;
  }
   .empty2 {
     height: 475px;
     width: 100%;
     visibility: hidden;
     display: block;
   }

  p {
    font-size: 4em;
    font-weight: 800;
    margin: 0;

  }

  h3 {
    text-align: center;

  }
    .my-button {
    	background-color:transparent;
    	-moz-border-radius:28px;
    	-webkit-border-radius:28px;
    	border-radius:28px;
    	border:1px solid #fff;
    	display:inline-block;
    	cursor:pointer;
    	color:#fff;
    	font-family:Arial;
    	font-size:17px;
    	padding:19px 49px;
    	text-decoration:none;
    	text-shadow:0px 1px 0px #fff;
    }
    .my-button:hover {
    	background-color:transparent;
    }
    .my-button:active {
    	position:relative;
    	top:1px;
    }
      .col-1-4 {
      position: relative;
    }
  div p{
    display: none;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    float: left;
    font-size: 12pt;
    position: absolute;
  }
 a:hover {
    // display: block;
    opacity: 1;
    // background:#7f7f7f;
    // background:rgba(0,0,0,0.5);
  }
  .active {
    display: block;
  }
}
